.qualification{
  height: 600px;
  font-family: poppins;
}
.qualification__title{
  font-family: poppins;
  margin-top: 10px;
}

.qualification__subtitle{
  font-family: poppins;
}
.qualification__sections{
  margin-top: 100px;
}
.qualification-card{
  display: flex;
  flex-direction: column;
  justify-content: center;

}